body {
     background-color:white;
     background-size: 100% 100vh;
     background-repeat: no-repeat;
}
 
 
 #con1 {
        display: block; 
        padding-left: 40px; 
        padding-right: 40px; 
        flex: 0 0 0;
  }

  h2 {
        font-size: 23px;
  }

  a {
      color: black;
      text-decoration: none;
      background-color: none;
}
 a:hover {
      text-decoration: none;
      color: black;
 }
    
 #cart1 {
      color: white;
      text-decoration: none;
      background-color: none;
 }
    
 .cartbody {
      font-size: 16px;
 }

 .modal-header {
      background-color: #171717;
      border: 2px solid;
 }
    
 .modal-body {
      font-size: 16px;
 }

 thead {
      font-size: 18px;
 }
    
 tbody {
      font-size: 16px;
 }
    
 p{
      font-size: 16px;
 }

 h4 {
      font-size: 20px;
 }

 .notReturned {
      background-color: crimson;
    }